body {
  background: rgba(255,255,0,0.4); /* change depending on weather */
  font-family: "Baloo Bhaijaan";
}

.container-fluid {
    width: 70%;
    margin: auto;
}

.row {
  text-align: center;
}

#region {
  color: crimson;
  margin-top: 50px;
  margin-bottom: 100px;
}

.weather-description {
  font-size: 30px;
  color: green;
}

img, #weather-image {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .container-fluid {
    width: 100%;
  }
}
